@charset "utf-8";

* { margin: 0; padding: 0;}
a { text-decoration: none; color: inherit;}
body { color: #333; }





section { 
    width: 1000px;
    display: flex;

}


/* ----------------------------------------------------- */

.item {
    width: 450px;
    height: 600px;
    margin: 30px auto;

    position: relative;
}

.item figure {
    width: 100%;
    height: 100%;
}

.item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item div { /* 내용 */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%); 
  /*transform: 이동(x축, y축) */
  /* 영역의 수직중앙에 위치시킬 때 위 네 줄을 사용 */
  /* top 값은 relative값 기준, transfrom은 div기준 */

    color: #fff;
    text-align: center;

    opacity: 0;
    transition: 0.5s;
}

.item::before { /* 내용 불투명 백그라운드 */
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00000094;
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: 0.5s;
}

.item div h4 {
    font-size: 22px;
}

.item div p { 
    padding: 10px 30px;
}

.item div a {
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 23px;
    line-height: 23px;
    background-color: rgb(204, 204, 204);
    color: #000000;
}


.item:hover div {
    opacity: 1;
    transition: 0.5s;
}

.item:hover::before {
    opacity: 1;
    transition: 0.5s;
}




/* -------------------------------------------------------- */


.item2 {
    width: 450px;
    height: 600px;
    margin: 30px auto;

    position: relative;
}

.item2 figure {
    width: 100%;
    height: 100%;
}

.item2 figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item2 div { /* 내용 */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%); 
  /*transform: 이동(x축, y축) */
  /* 영역의 수직중앙에 위치시킬 때 위 네 줄을 사용 */
  /* top 값은 relative값 기준, transfrom은 div기준 */

    color: #fff;
    text-align: center;

    opacity: 0;
    transition: 0.5s;
}

.item2::before { /* 내용 불투명 백그라운드 */
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00000094;
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: 0.5s;
}

.item2 div h4 {
    font-size: 22px;
}

.item2 div p { 
    padding: 10px 30px;
}

.item2 div a {
    display: block;
    margin: 15px auto;
    width: 150px;
    height: 23px;
    line-height: 23px;
    background-color: rgb(204, 204, 204);
    color: #000000;
}


.item2:hover div {
    opacity: 1;
    transition: 0.5s;
}

.item2:hover::before {
    opacity: 1;
    transition: 0.5s;
}