@charset "tuf-8";


* { margin: 0; padding: 0;}
li {list-style: none;}
a { text-decoration: none; color: inherit;}
body { color: #222; overflow-x: hidden; }

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mobile { display: none;}

/* ----------------------------HEADER------------------------ */

header .inner {
    max-width: 1600px;
    width: 95%; /* 1600px 보다 작은 화면일 때? */
    margin: 0 auto;
    position: relative;
    z-index: 8;
}
header .inner .h_top {
    height: 50px;
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
    font-size: 14px;
}
header .inner .h_top li {
    margin-left: 20px;
    position: relative;
}
header .inner .h_top li::before {
    /* 메뉴 사이 ㅣ 라인 만들기 */
    content: '';
    width: 1px;
    height: 12px;
    background-color: #222;
    position: absolute;
    top: 50%;  left: -10px;
    transform: translateY(-50%);
}
header .inner .h_top li:nth-child(1)::before {
    display: none;
}
header .inner .h_bottom {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'NanumSquareNeo-Variable';
}

header .inner .h_bottom h1 a img {
    height: 40px;
}
header .inner .h_bottom .pc {
   height: 100%;
}
header .inner .h_bottom .pc .gnb {
    height: 100%;
}
header .inner .h_bottom .pc .gnb .dep01 {
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 0 25px;
    line-height: 70px;
}
header .inner .h_bottom .pc .gnb .dep01 .dep02 {
    position: absolute;
    top: 70px; left: 50%;
    transform: translateX(-50%); /* - 1차 메뉴와 같은 중앙 위치 위한 left값 조절 */
    width: 130px;
    text-align: center;
    background-color: #fff;
    display: none;
}
header .inner .h_bottom .pc .gnb .dep01 .dep02 li {
    padding: 7px;
    line-height: 1.5;
}
header .inner .h_bottom .pc .gnb .dep01:hover .dep02 {
    display: block;
}
header .inner .h_bottom .pc .gnb .dep01 .dep02 li:hover {
    background-color: rgb(230, 216, 201);
}
/* --------------------------HEADER-------------------------- */





/* -------------------------MAIN VISUAL---------------------- */

.mainvi {
    height: 100vh;
    position: relative;
}
.mainvi div {
    color: #fff;
    max-width: 1600px;
    width: 95%;
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Pretendard-Regular';
}


.mainvi div h2 { font-size: 40px; margin: 10px 0; }
.mainvi div p { font-size: 20px;  margin-top: 30px;}
.mainvi div a {
    width: 150px;
    height: 45px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    display: block;
    margin-top: 70px;
}
.mainvi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------------BEST--------------------- */
.best {
    max-width: 1600px;
    width: 95%;
    margin: 150px auto;
    position: relative;
}
.best > a {
    display: block;
    width: 140px;
    height: 38px;
    border: 1px solid #333;
    border-radius: 30px;
    text-align: center;
    line-height: 38px;
    font-size: 17px;
    position: absolute;
    top: 0;
    right: 0;
}
.best h3 {
    font-size: 40px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 40px;
    /* best의 마진값 150과 겹쳐서 적용이 안되어 padding사용 */
    padding-top: 30px;
}
.best .bestmenu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    flex-wrap: wrap;
    /* 화면이 좁아졌을 때 밑으로 떨어지도록 */
}
.best .bestmenu li {
    margin-left: 30px;
    font-family: 'NanumSquareNeo-Variable';
}
.best .bestmenu li:first-child {
    color: red;
}



.best .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.best .list .item {
    width: calc(100% / 4 - 10px);
}
.best .list .item figure {
    height: 420px;
    width: 100%;
}
.best .list .item figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.best .list .item .text {
    font-family: 'NanumSquareNeo-Variable';
    margin: 0 6px;
}
.best .list .item .text h4 {
    font-size: 20px;
    margin: 20px 0 30px;
}
.best .list .item .text .pri {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.best .list .item .text .pri p {
    color: #838383;
    text-decoration: line-through;
    /* 취소선 */
}
.best .list .item .text .pri span {
    color: red;
    font-weight: bold; 
}
/* ---------------------BEST--------------------- */


/* --------------------미디어쿼리----------------- */

@media all and (max-width:1024px) {
    header .pc { display: none; }
    header i.mobile { 
        display: block;
        font-size: 40px;
        color: #111;
    }
    header i.mobile span {
        position: absolute;
        left: -9999px;
    }
    
    .best {
        margin: 100px auto;
    }
    .best .list .item figure {
        height: 250px;
    }
    .best .list .item .text h4 {
        height: 50px;
        font-size: 18px;
    }
    .best .list .item .text .pri p{
        font-size: 17px;
    }
    .best .list .item .text .pri div {
        font-size: 20px;
    }

} /* ---1024 --- 1024 --- 1024 --- */


@media all and (max-width:767px) {
    header .inner .h_top {
        height: 30px;
        margin-top: 15px;
        font-size: 13px;
    }
    header .inner .h_bottom {
        height: 50px;
        margin-bottom: 10px;
    }
    header .inner .h_bottom h1 a img {
        height: 25px;
    }

    .mainvi {
        height: 80vh;
    }
    .mainvi div {
        text-align: center;
    }
    .mainvi div h2 {
        font-size: 35px;
    }
    .mainvi div p {
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 0;
    }
    .mainvi div a {
        margin: 50px auto;
    }

    .best {
        margin: 60px auto;
    }
    .best a {
        width: 100px;
        height: 30px;
        font-size: 13px;
        line-height: 30px;
    }
    .best h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .best .bestmenu {
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-start;
    }
    .best .bestmenu li {
        margin-left: 0;
        margin-right: 25px;
    }
    .best .list .item {
        width: calc(100% / 2 - 5px);
        
    }
   /*  .best .list .item:nth-child(2) ~ .item */ 
        /* + 뒤에 오는 하나의 형제선택자
           ~ 뒤에 오는 모든 형제 선택자 */
        /* display: none; */
    
    .best .list .item figure {
        height: 50vw;
        /* vw 브라우저의 넓이에 반응
           vh 브라우저의 높이에 반응 */
    }

}/* ---767 --- 767 --- 767 --- */


@media all and (max-width:414px) {
    .mainvi div h2 {
        font-size: 28px;
    }
    .mainvi div p {
        font-size: 14px;
    }

    .best h3 { font-size: 24px; }
    .best a { font-size: 11px; }
    .best .list .item:nth-child(2) ~ .item {
        display: block;
    }
    .best .list .item .text h4 {
        font-size: 15px;
        height: auto;
        margin: 10px 0 20px;
    }
    .best .list .item .text .pri p {
        font-size: 13px;
    }
    .best .list .item .text .pri div {
        font-size: 15px;
    }
}/* --- 414 --- 414 --- 414 --- */


.slide_text {
    background-color: rgb(147, 97, 194);
    color: #fff;
    padding: 20px 0;
}
.slide_text ul {
    white-space: nowrap;
    /* 글자를 무조건 한줄로 나열하는 속성 */
    animation: slidetext 20s infinite linear;
    /* 애니메이션 : 이름 (임의로 설정) / 시간 / 횟수 / 속도 */
}
@keyframes slidetext {
    /* 시작시점 */ 0% { 
        transform: translateX(0);
    }
    /* 종료시점 */ 100% {
        transform: translateX(-100%);
    }
}
.slide_text ul li {
    display: inline-block;
}
